<!DOCTYPE html>
<html lang="en">

{% load static %}

<link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-touch-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-touch-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-touch-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-touch-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-touch-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-touch-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-touch-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-touch-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon-180x180.png' %}">
<link rel="icon" type="image/png" href="{% static 'favicon/favicon-32x32.png' %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static 'favicon/android-chrome-192x192.png' %}" sizes="192x192">
<link rel="icon" type="image/png" href="{% static 'favicon/favicon-96x96.png' %}" sizes="96x96">
<link rel="icon" type="image/png" href="{% static 'favicon/favicon-16x16.png' %}" sizes="16x16">
<link rel="icon" type="image/ico" href="{% static 'favicon/favicon.ico' %}"/>
<link rel="manifest" href="{% static 'favicon/manifest.json' %}">
<link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5 ">
<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
<meta name="msapplication-TileColor" content="#da532c ">
<meta name="msapplication-TileImage" content="{% static 'favicon/mstile-144x144.png' %}">
<meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">

<head>
    <title>/r/CFB Poll</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/poll.css' %}">
	<script src="{% static 'javascript/main.js' %}"></script>
    <script src="{% static 'javascript/jquery.columnizer.js' %}"></script>
</head>
<body>

	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-success">
		<div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'images/poll.png' %}" width="30" height="30" class="d-inline-block align-middle" alt="">
                /r/CFB Poll
            </a>
			<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
							Results
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/poll/this_week/">This Week</a></li>
							<li><a class="dropdown-item" href="/poll/last_week/">Last Week</a></li>
							<li><a class="dropdown-item" href="/poll/">Poll Index</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
							Analysis
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/poll/analysis/this_week/">Current Outliers</a></li>
							<li><p class="dropdown-item">More coming soon!</p></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
							About
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href='/about/?p=about'>Overview</a></li>
							<li><a class="dropdown-item" href='/about/?p=faq'>FAQ</a></li>
							<li><a class="dropdown-item" href='/about/?p=voters'>Voter Hall of Fame</a></li>
						</ul>
					</li>
				</ul>

				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if user and not user.is_anonymous %}
                        <span class="navbar-text">Welcome, {{user.username}}!</span>
						{% if user.is_staff %}
							<li class="nav-item dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
									Admin
								</a>
								<ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/admin/">Admin Console</a></li>
									<li><a class="dropdown-item" href="/poll_post/">Post Generator</a></li>
								</ul>
							</li>
						{% endif %}
                        <li class="nav-item">
							<a class="nav-link" href="/my_ballots/">
								My Ballots
							</a>
						</li>
                        <li class="nav-item">
							<a class="nav-link" href="#">
								Profile
							</a>
						</li>
                        <li class="nav-item">
							<a class="nav-link" href="/logout/">
								Logout
							</a>
						</li>
                    {% else %}
                        <li class="nav-item">
							<a class="nav-link" href="{% url 'social:begin' 'reddit' %}?next={{ request.path }}">
								Login
							</a>
						</li>
                    {% endif %}
				</ul>
			</div>
		</div>
	</nav>

	{% block content %}
	{% endblock %}
	
</body>
</html>
