{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block content %}
    <div class="container">
        <div class="py-3">
            <p>
                Hello, {{ this_user.username }}.
            </p>
            <p>
                It appears you are not currently a voter in The /r/CFB Poll.
                To vote in the poll you must either be a main voter in the poll or you must be a provisional voter.
            </p>
            <p>
                {% if app %}
                    You applied to be a provisional voter on {% localtime on %}{{ app.submission_date }}{% endlocaltime %}.
                    Status:
                    {% if app.status == 1 %}
                        Open
                    {% elif app.status == 3 %}
                        Rejected. You may reapply next season.
                    {% else %}
                        Honestly? Not sure how you got here. Message sirgippy.
                    {% endif %}
                {% else %}
                    If you would like to apply to be a provisional voter you may do so:
                    <a class="btn btn-primary" role="button" href="/apply_for_provisional/">Apply</a>
                {% endif %}
            </p>
            <p>Generally, users in good standing (that is, positive contributors who are not banned) are accepted as provisional voters.</p>
            <p>For more information about becoming a main voter, please see <a href="/about/?p=faq">the FAQ</a> page.</p>
        </div>
	</div>
{% endblock %}
